In [489]:
#Imports:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import autokeras as ak

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [490]:
df_orders = pd.read_csv("orders_before_dec.csv", sep = "|")
df_items = pd.read_csv("items.csv", sep = "|")
df_category = pd.read_csv("category_hierarchy.csv", sep = "|")

df_orders

              date  userID  itemID  order
0       2020-06-01   38769    3477      1
1       2020-06-01   42535   30474      1
2       2020-06-01   42535   15833      1
3       2020-06-01   42535   20131      1
4       2020-06-01   42535    4325      1
...            ...     ...     ...    ...
767126  2020-11-30   22541     746      1
767127  2020-11-30   36315   22834     20
767128  2020-11-30    7736   18630      3
767129  2020-11-30    7736   29657      8
767130  2020-11-30   10215   29037      1

[767131 rows x 4 columns]

In [491]:
print(len(df_items['itemID'].unique()))
print(len(df_items))

32776
32776

In [492]:
result = pd.merge(df_orders, df_items, on="itemID")

In [493]:
result = result.drop(['categories'], axis = 1)
result = result.drop(['date'], axis = 1)

orders = result["order"]
data = result.drop(['order'], axis = 1)

data

,userID,itemID,brand,feature_1,feature_2,feature_3,feature_4,feature_5
0,38769,3477,186,6,0,196,0,45
1,23570,3477,186,6,0,196,0,45
2,23495,3477,186,6,0,196,0,45
3,26073,3477,186,6,0,196,0,45
4,34302,3477,186,6,0,196,0,45
...,...,...,...,...,...,...,...,...
767126,19742,28822,1156,6,2,495,0,146
767127,15769,26453,791,10,3,502,0,152
767128,16023,20609,768,10,1,154,0,61
767129,43601,23190,1275,10,2,515,0,92
767130,29824,6422,926,10,1,491,0,156

In [494]:
enc = OneHotEncoder(handle_unknown='ignore')
cols = ["feature_1", "feature_2", "feature_4"]
encoder_df = pd.DataFrame(enc.fit_transform(data[cols]).toarray())
data = data[["userID", "itemID", "brand", "feature_3", "feature_5"]].join(encoder_df)

In [495]:
data

,userID,itemID,brand,feature_3,feature_5,0,1,2,3,4,...,12,13,14,15,16,17,18,19,20,21
0,38769,3477,186,196,45,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,23570,3477,186,196,45,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,23495,3477,186,196,45,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,26073,3477,186,196,45,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,34302,3477,186,196,45,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767126,19742,28822,1156,495,146,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
767127,15769,26453,791,502,152,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
767128,16023,20609,768,154,61,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
767129,43601,23190,1275,515,92,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
767130,29824,6422,926,491,156,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [505]:
orders = np.array(orders).reshape(-1,1)

In [507]:
#orders = np.array(orders)
data = np.array(data)
print(orders)
lenc = OneHotEncoder()
lenc = lenc.fit(orders)
orders = lenc.transform(orders)

[[1]
 [1]
 [1]
 ...
 [1]
 [2]
 [1]]

In [514]:
pd.DataFrame(orders).unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [459]:
X_train, X_test, y_train, y_test = train_test_split( data, orders, test_size=0.1, random_state=42)

In [460]:
X_train, X_val, y_train, y_val= train_test_split( X_train, y_train, test_size=0.1, random_state=42)

In [461]:
print(len(X_train.shape), len(X_test.shape), len(X_val.shape))
X_train.shape

2 2 2

(621375, 27)

In [463]:
model = ak.AutoModel(
    inputs=[ak.StructuredDataInput()],
    outputs=[ak.ClassificationHead()],
    max_trials=3,
    overwrite = True
)

In [464]:
model.fit(
    x=X_train, y=y_train, epochs=10, batch_size=128, validation_data= [X_val, y_val]
)

Trial 3 Complete [00h 02m 17s]
val_loss: 9.24746036529541

Best val_loss So Far: 1.5526317358016968
Total elapsed time: 00h 06m 59s
INFO:tensorflow:Oracle triggered exit
Epoch 1/10
4855/4855 [==============================] - 9s 2ms/step - loss: 94.0517 - accuracy: 0.6462 - val_loss: 24.4895 - val_accuracy: 0.1892
Epoch 2/10
4855/4855 [==============================] - 9s 2ms/step - loss: 19.2691 - accuracy: 0.6514 - val_loss: 18.9266 - val_accuracy: 0.7910
Epoch 3/10
4855/4855 [==============================] - 9s 2ms/step - loss: 16.6931 - accuracy: 0.6558 - val_loss: 12.2415 - val_accuracy: 0.7906
Epoch 4/10
4855/4855 [==============================] - 9s 2ms/step - loss: 13.5333 - accuracy: 0.6578 - val_loss: 14.0531 - val_accuracy: 0.7916
Epoch 5/10
4855/4855 [==============================] - 9s 2ms/step - loss: 10.1646 - accuracy: 0.6627 - val_loss: 17.0595 - val_accuracy: 0.7927
Epoch 6/10
4855/4855 [==============================] - 9s 2ms/step - loss: 7.7742 - accuracy: 0.6685 - val_loss: 5.2565 - val_accuracy: 0.7849
Epoch 7/10
4855/4855 [==============================] - 9s 2ms/step - loss: 5.5996 - accuracy: 0.6807 - val_loss: 5.6464 - val_accuracy: 0.7815
Epoch 8/10
4855/4855 [==============================] - 9s 2ms/step - loss: 3.7442 - accuracy: 0.6944 - val_loss: 3.2535 - val_accuracy: 0.5959
Epoch 9/10
4855/4855 [==============================] - 9s 2ms/step - loss: 2.3452 - accuracy: 0.7234 - val_loss: 2.0703 - val_accuracy: 0.7525
Epoch 10/10
4855/4855 [==============================] - 9s 2ms/step - loss: 1.7086 - accuracy: 0.7502 - val_loss: 1.3019 - val_accuracy: 0.7924
INFO:tensorflow:Assets written to: ./auto_model/best_model/assets

In [465]:
model = model.export_model()


try:
    model.save("model_autokeras", save_format="tf")
except Exception:
    model.save("model_autokeras.h5")

INFO:tensorflow:Assets written to: model_autokeras/assets

In [466]:
to_test = X_test
truth = y_test

res = np.round(model.predict(to_test))
info = pd.DataFrame(to_test)
stand = pd.DataFrame()
stand["userID"] = info[[0]]
stand["itemID"] = info[[1]]
pred = stand.copy()
gold = stand.copy()
pred["prediction"] = np.round(lenc.inverse_transform((res.astype(int))))
gold["prediction"] = np.round(truth)

ValueError: y should be a 1d array, got an array of shape (76714, 45) instead.

In [ ]:
def count_points(pred, gold):
    df = pd.merge(pred, gold, on=['userID', 'itemID'], suffixes=('_pred', '_gold'))
    df['points'] = df.apply(_compute_points_for_row, axis=1)
    return df['points'].sum()

def _compute_points_for_row(row):
    y_pred, y_gold = row.prediction_pred, row.prediction_gold
    if y_pred == y_gold:
        # one point if "no order" (0) is predicted correctly; three points if order week is predicted correctly
        return 1 if y_pred == 0 else 3
    # one point if order is predicted correctly (but not the correct week), otherwise zero points
    return 1 if (y_pred > 0 and y_gold > 0) else 0

In [ ]:
points = count_points(pred, gold)
max_points = count_points(gold, gold)
score = points / max_points

In [ ]:
print(points)
print(max_points)
print(score)

In [ ]:
print(points)
print(max_points)
print(score)

In [467]:
sns.set(style='darkgrid',font_scale=1.3, rc={'figure.figsize':(15,15)})
ax=pred["prediction"].hist(bins=2,color='blue' )

KeyError: 'prediction'