In [28]:
import pandas as pd

In [41]:
orders = pd.read_csv('newOrders_jan.csv', delimiter=',')

In [42]:
orders.head(50)

,Unnamed: 0,date,userID,itemID,order,comID,interval
0,268197,2020-08-03,0,12468,1,12468,2020-08-03 00:00:00
1,334333,2020-08-18,0,12505,1,12505,2020-08-18 00:00:00
2,390966,2020-09-01,0,1505,1,1505,2020-09-01 00:00:00
3,268196,2020-08-03,0,15083,1,15083,2020-08-03 00:00:00
4,22146,2020-06-05,0,20664,1,20664,2020-06-05 00:00:00
5,540881,2020-10-09,0,20664,1,20664,126 days 00:00:00
6,819668,2020-12-11,0,20664,1,20664,63 days 00:00:00
7,540880,2020-10-09,0,26387,1,26387,2020-10-09 00:00:00
8,709720,2020-11-20,0,28231,1,28231,2020-11-20 00:00:00
9,819666,2020-12-11,0,28231,1,28231,21 days 00:00:00
10,779709,2020-12-04,0,31683,1,31683,2020-12-04 00:00:00
11,779710,2020-12-04,0,31923,1,31923,2020-12-04 00:00:00
12,819667,2020-12-11,0,6446,1,6446,2020-12-11 00:00:00
13,709719,2020-11-20,0,9325,1,9325,2020-11-20 00:00:00
14,812071,2020-12-10,10000,17512,1,1000017512,2020-12-10 00:00:00
15,528595,2020-10-05,10000,21690,1,1000021690,2020-10-05 00:00:00
16,310881,2020-08-13,10000,23148,1,1000023148,2020-08-13 00:00:00
17,528593,2020-10-05,10000,23148,1,1000023148,53 days 00:00:00
18,448618,2020-09-16,10000,27866,3,1000027866,2020-09-16 00:00:00
19,448617,2020-09-16,10000,29657,2,1000029657,2020-09-16 00:00:00
20,812072,2020-12-10,10000,4879,1,100004879,2020-12-10 00:00:00
21,310880,2020-08-13,10000,6,1,100006,2020-08-13 00:00:00
22,528594,2020-10-05,10000,6,1,100006,53 days 00:00:00
23,218115,2020-07-21,10001,10364,1,1000110364,2020-07-21 00:00:00
24,45413,2020-06-12,10001,10961,1,1000110961,2020-06-12 00:00:00
25,693467,2020-11-15,10001,12214,1,1000112214,2020-11-15 00:00:00
26,614691,2020-10-26,10001,13825,1,1000113825,2020-10-26 00:00:00
27,45411,2020-06-12,10001,14684,2,1000114684,2020-06-12 00:00:00
28,51932,2020-06-13,10001,16972,1,1000116972,2020-06-13 00:00:00
29,394093,2020-09-02,10001,1732,1,100011732,2020-09-02 00:00:00
30,51930,2020-06-13,10001,17672,1,1000117672,2020-06-13 00:00:00
31,218108,2020-07-21,10001,2113,2,100012113,2020-07-21 00:00:00
32,401243,2020-09-04,10001,2113,2,100012113,45 days 00:00:00
33,78066,2020-06-19,10001,22754,2,1000122754,2020-06-19 00:00:00
34,401268,2020-09-04,10001,22754,2,1000122754,77 days 00:00:00
35,614701,2020-10-26,10001,23686,1,1000123686,2020-10-26 00:00:00
36,218107,2020-07-21,10001,24528,2,1000124528,2020-07-21 00:00:00
37,693466,2020-11-15,10001,28137,5,1000128137,2020-11-15 00:00:00
38,45412,2020-06-12,10001,28333,2,1000128333,2020-06-12 00:00:00
39,51931,2020-06-13,10001,29820,1,1000129820,2020-06-13 00:00:00
40,218110,2020-07-21,10001,29820,1,1000129820,38 days 00:00:00
41,353400,2020-08-23,10001,4156,3,100014156,2020-08-23 00:00:00
42,394078,2020-09-02,10001,550,1,10001550,2020-09-02 00:00:00
43,394079,2020-09-02,10001,7454,1,100017454,2020-09-02 00:00:00
44,735895,2020-11-25,1000,1782,1,10001782,2020-11-25 00:00:00
45,218109,2020-07-21,10001,8463,2,100018463,2020-07-21 00:00:00
46,401267,2020-09-04,10001,8463,1,100018463,45 days 00:00:00
47,539723,2020-10-08,1000,18630,1,100018630,2020-10-08 00:00:00
48,539725,2020-10-08,1000,19429,1,100019429,2020-10-08 00:00:00
49,67080,2020-06-16,10002,10341,2,1000210341,2020-06-16 00:00:00

In [43]:
interval = list(orders['interval'])

In [44]:
ls = list()

In [45]:
for t in interval:
    if('-' in t):
        ls.append(-1)
    else:
        ls.append(int(t.split(' ',1)[0]))

In [46]:
orders['intervals'] = ls

In [47]:
orders.head(30)

,Unnamed: 0,date,userID,itemID,order,comID,interval,intervals
0,268197,2020-08-03,0,12468,1,12468,2020-08-03 00:00:00,-1
1,334333,2020-08-18,0,12505,1,12505,2020-08-18 00:00:00,-1
2,390966,2020-09-01,0,1505,1,1505,2020-09-01 00:00:00,-1
3,268196,2020-08-03,0,15083,1,15083,2020-08-03 00:00:00,-1
4,22146,2020-06-05,0,20664,1,20664,2020-06-05 00:00:00,-1
5,540881,2020-10-09,0,20664,1,20664,126 days 00:00:00,126
6,819668,2020-12-11,0,20664,1,20664,63 days 00:00:00,63
7,540880,2020-10-09,0,26387,1,26387,2020-10-09 00:00:00,-1
8,709720,2020-11-20,0,28231,1,28231,2020-11-20 00:00:00,-1
9,819666,2020-12-11,0,28231,1,28231,21 days 00:00:00,21
10,779709,2020-12-04,0,31683,1,31683,2020-12-04 00:00:00,-1
11,779710,2020-12-04,0,31923,1,31923,2020-12-04 00:00:00,-1
12,819667,2020-12-11,0,6446,1,6446,2020-12-11 00:00:00,-1
13,709719,2020-11-20,0,9325,1,9325,2020-11-20 00:00:00,-1
14,812071,2020-12-10,10000,17512,1,1000017512,2020-12-10 00:00:00,-1
15,528595,2020-10-05,10000,21690,1,1000021690,2020-10-05 00:00:00,-1
16,310881,2020-08-13,10000,23148,1,1000023148,2020-08-13 00:00:00,-1
17,528593,2020-10-05,10000,23148,1,1000023148,53 days 00:00:00,53
18,448618,2020-09-16,10000,27866,3,1000027866,2020-09-16 00:00:00,-1
19,448617,2020-09-16,10000,29657,2,1000029657,2020-09-16 00:00:00,-1
20,812072,2020-12-10,10000,4879,1,100004879,2020-12-10 00:00:00,-1
21,310880,2020-08-13,10000,6,1,100006,2020-08-13 00:00:00,-1
22,528594,2020-10-05,10000,6,1,100006,53 days 00:00:00,53
23,218115,2020-07-21,10001,10364,1,1000110364,2020-07-21 00:00:00,-1
24,45413,2020-06-12,10001,10961,1,1000110961,2020-06-12 00:00:00,-1
25,693467,2020-11-15,10001,12214,1,1000112214,2020-11-15 00:00:00,-1
26,614691,2020-10-26,10001,13825,1,1000113825,2020-10-26 00:00:00,-1
27,45411,2020-06-12,10001,14684,2,1000114684,2020-06-12 00:00:00,-1
28,51932,2020-06-13,10001,16972,1,1000116972,2020-06-13 00:00:00,-1
29,394093,2020-09-02,10001,1732,1,100011732,2020-09-02 00:00:00,-1

In [48]:
orders = orders.drop(['comID', 'interval'], axis=1)

In [49]:
orders.head(30)

    Unnamed: 0        date  userID  itemID  order  intervals
0       268197  2020-08-03       0   12468      1         -1
1       334333  2020-08-18       0   12505      1         -1
2       390966  2020-09-01       0    1505      1         -1
3       268196  2020-08-03       0   15083      1         -1
4        22146  2020-06-05       0   20664      1         -1
5       540881  2020-10-09       0   20664      1        126
6       819668  2020-12-11       0   20664      1         63
7       540880  2020-10-09       0   26387      1         -1
8       709720  2020-11-20       0   28231      1         -1
9       819666  2020-12-11       0   28231      1         21
10      779709  2020-12-04       0   31683      1         -1
11      779710  2020-12-04       0   31923      1         -1
12      819667  2020-12-11       0    6446      1         -1
13      709719  2020-11-20       0    9325      1         -1
14      812071  2020-12-10   10000   17512      1         -1
15      528595  2020-10-05   10000   21690      1         -1
16      310881  2020-08-13   10000   23148      1         -1
17      528593  2020-10-05   10000   23148      1         53
18      448618  2020-09-16   10000   27866      3         -1
19      448617  2020-09-16   10000   29657      2         -1
20      812072  2020-12-10   10000    4879      1         -1
21      310880  2020-08-13   10000       6      1         -1
22      528594  2020-10-05   10000       6      1         53
23      218115  2020-07-21   10001   10364      1         -1
24       45413  2020-06-12   10001   10961      1         -1
25      693467  2020-11-15   10001   12214      1         -1
26      614691  2020-10-26   10001   13825      1         -1
27       45411  2020-06-12   10001   14684      2         -1
28       51932  2020-06-13   10001   16972      1         -1
29      394093  2020-09-02   10001    1732      1         -1

In [50]:
orders = orders.drop(columns=orders.columns[0], axis=1)

In [51]:
orders.head(30)

          date  userID  itemID  order  intervals
0   2020-08-03       0   12468      1         -1
1   2020-08-18       0   12505      1         -1
2   2020-09-01       0    1505      1         -1
3   2020-08-03       0   15083      1         -1
4   2020-06-05       0   20664      1         -1
5   2020-10-09       0   20664      1        126
6   2020-12-11       0   20664      1         63
7   2020-10-09       0   26387      1         -1
8   2020-11-20       0   28231      1         -1
9   2020-12-11       0   28231      1         21
10  2020-12-04       0   31683      1         -1
11  2020-12-04       0   31923      1         -1
12  2020-12-11       0    6446      1         -1
13  2020-11-20       0    9325      1         -1
14  2020-12-10   10000   17512      1         -1
15  2020-10-05   10000   21690      1         -1
16  2020-08-13   10000   23148      1         -1
17  2020-10-05   10000   23148      1         53
18  2020-09-16   10000   27866      3         -1
19  2020-09-16   10000   29657      2         -1
20  2020-12-10   10000    4879      1         -1
21  2020-08-13   10000       6      1         -1
22  2020-10-05   10000       6      1         53
23  2020-07-21   10001   10364      1         -1
24  2020-06-12   10001   10961      1         -1
25  2020-11-15   10001   12214      1         -1
26  2020-10-26   10001   13825      1         -1
27  2020-06-12   10001   14684      2         -1
28  2020-06-13   10001   16972      1         -1
29  2020-09-02   10001    1732      1         -1

In [52]:
orders.to_csv('orders_before_jan_new.csv', sep=',', encoding='utf-8')